In [6]:
# !pip install mlxtend

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from mlxtend.frequent_patterns import apriori , association_rules
from sklearn.preprocessing import LabelEncoder

In [8]:
train =  pd.read_csv('../train.csv')
test =  pd.read_csv('../test.csv')

print("Train data shape:", train.shape)
print("Test data shape:", test.shape)

train.drop(columns=['Unnamed: 0','id'],inplace = True)
test.drop(columns=['Unnamed: 0','id'],inplace = True)
X = train.drop('satisfaction', axis=1)

Train data shape: (103904, 25)
Test data shape: (25976, 25)

In [9]:

df = pd.DataFrame(X)

# Apply LabelEncoder to each column
X = LabelEncoder()
X = df.apply(X.fit_transform)

# Print the transformed DataFrame
X

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,6,1,2,358,3,4,3,1,...,5,5,4,3,3,4,5,5,25,18
1,1,1,18,0,0,144,3,2,3,3,...,1,1,1,5,2,1,4,1,1,6
2,0,0,19,0,0,994,2,2,2,2,...,5,5,4,3,3,4,4,5,0,0
3,0,0,18,0,0,446,2,5,5,5,...,2,2,2,5,2,1,4,2,11,9
4,1,0,54,0,0,124,3,3,3,3,...,5,3,3,4,3,3,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,16,0,1,102,2,1,2,3,...,2,2,3,1,3,2,3,2,3,0
103900,1,0,42,0,0,2143,4,4,4,4,...,5,5,5,5,4,5,5,4,0,0
103901,1,1,23,0,0,1791,1,1,1,3,...,5,4,3,2,3,5,5,4,7,14
103902,0,1,15,0,1,860,1,1,1,5,...,1,1,4,5,0,5,4,1,0,0
103903,1,0,20,0,0,1519,1,3,3,3,...,1,1,1,1,3,4,3,1,0,0

In [17]:
for i in X.columns:
    X[i] = X[i].astype('str')

# change the categorical data to one hot encoded different columns 
# as the apriori algorithm takes only numerical data 
train_encoded = pd.get_dummies(X)

frequent_itemsets = apriori(train_encoded, min_support=0.35, use_colnames=True)

frequent_itemsets

d:\anaconda\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.507459                                         (Gender_0)
1   0.492541                                         (Gender_1)
2   0.817322                                  (Customer Type_0)
3   0.689627                                 (Type of Travel_0)
4   0.477989                                          (Class_0)
5   0.449886                                          (Class_1)
6   0.359784                               (Baggage handling_3)
7   0.365193                               (Inflight service_4)
8   0.564637                     (Departure Delay in Minutes_0)
9   0.559738                       (Arrival Delay in Minutes_0)
10  0.408627                        (Customer Type_0, Gender_0)
11  0.351555                       (Gender_0, Type of Travel_0)
12  0.408695                        (Customer Type_0, Gender_1)
13  0.508527                (Customer Type_0, Type of Travel_0)
14  0.407193                         (Customer Type_0, Class_0)
15  0.461878    (Customer Type_0, Departure Delay in Minutes_0)
16  0.458442      (Customer Type_0, Arrival Delay in Minutes_0)
17  0.457230                        (Type of Travel_0, Class_0)
18  0.389196   (Type of Travel_0, Departure Delay in Minutes_0)
19  0.384692     (Arrival Delay in Minutes_0, Type of Travel_0)
20  0.456758  (Arrival Delay in Minutes_0, Departure Delay i...
21  0.386539       (Customer Type_0, Type of Travel_0, Class_0)
22  0.373701  (Customer Type_0, Arrival Delay in Minutes_0, ...