In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB, MultinomialNB

from sklearn.metrics import accuracy_score

In [2]:
train =  pd.read_csv('../train.csv')
test =  pd.read_csv('../test.csv')

print("Train data shape:", train.shape)
print("Test data shape:", test.shape)

train.drop(columns=['Unnamed: 0','id'],inplace = True)
test.drop(columns=['Unnamed: 0','id'],inplace = True)
Y = train['satisfaction']
X = train.drop('satisfaction', axis=1)

Train data shape: (103904, 25)
Test data shape: (25976, 25)

In [3]:
df = pd.DataFrame(X)

# Apply LabelEncoder to each column
X = LabelEncoder()
X = df.apply(X.fit_transform)

# Print the transformed DataFrame
X

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,6,1,2,358,3,4,3,1,...,5,5,4,3,3,4,5,5,25,18
1,1,1,18,0,0,144,3,2,3,3,...,1,1,1,5,2,1,4,1,1,6
2,0,0,19,0,0,994,2,2,2,2,...,5,5,4,3,3,4,4,5,0,0
3,0,0,18,0,0,446,2,5,5,5,...,2,2,2,5,2,1,4,2,11,9
4,1,0,54,0,0,124,3,3,3,3,...,5,3,3,4,3,3,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,16,0,1,102,2,1,2,3,...,2,2,3,1,3,2,3,2,3,0
103900,1,0,42,0,0,2143,4,4,4,4,...,5,5,5,5,4,5,5,4,0,0
103901,1,1,23,0,0,1791,1,1,1,3,...,5,4,3,2,3,5,5,4,7,14
103902,0,1,15,0,1,860,1,1,1,5,...,1,1,4,5,0,5,4,1,0,0
103903,1,0,20,0,0,1519,1,3,3,3,...,1,1,1,1,3,4,3,1,0,0

In [4]:
df = pd.DataFrame(Y)

# Apply LabelEncoder to each column
Y = LabelEncoder()
Y = df.apply(Y.fit_transform)

# Print the transformed DataFrame
Y

        satisfaction
0                  0
1                  0
2                  1
3                  0
4                  1
...              ...
103899             0
103900             1
103901             0
103902             0
103903             0

[103904 rows x 1 columns]

In [5]:

df = pd.DataFrame(test)

# Apply LabelEncoder to each column
enc = LabelEncoder()
test = df.apply(enc.fit_transform)

# Print the transformed DataFrame
test
y_test = test['satisfaction']
test = test.drop('satisfaction', axis=1)

In [6]:
# Create a Naive Bayes classifier (Gaussian Naive Bayes)
nb = GaussianNB()

# Train the model using the training data
nb.fit(X, Y)

# Make predictions on the test data
y_pred = nb.predict(test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.86406683092085

C:\Users\LAPTOP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
# Create a Naive Bayes classifier (Gaussian Naive Bayes)
nb2 = MultinomialNB()

# Train the model using the training data
nb2.fit(X, Y)

# Make predictions on the test data
y_pred = nb2.predict(test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6082537727132737

C:\Users\LAPTOP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)